<%= javascript_include_tag 'libs/jquery-1.7.2.min.js', :plugin => 'AgileDwarf' %>
<%= javascript_include_tag 'libs/jquery-ui-1.8.18.custom.min.js', :plugin => 'AgileDwarf' %>
<%= javascript_include_tag 'libs/jquery.jeditable.mini.js', :plugin => 'AgileDwarf' %>
<%= javascript_include_tag 'libs/jquery.jeditable.datepicker.js', :plugin => 'AgileDwarf' %>
<%= javascript_include_tag 'libs/jquery.textPlaceholder.js', :plugin => 'AgileDwarf' %>
<%= javascript_include_tag 'libs/jquery.jeditable.ptext.js', :plugin => 'AgileDwarf' %>
<%= javascript_include_tag 'libs/jquery.qtip.min.js', :plugin => 'AgileDwarf' %>
<%= javascript_include_tag 'common', :plugin => 'AgileDwarf' %>
<%= javascript_include_tag 'sprints_mine', :plugin => 'AgileDwarf' %>
<%= stylesheet_link_tag 'sprints.css', :plugin => 'AgileDwarf', :media => 'print,screen' %>
<%= stylesheet_link_tag 'jquery-ui-1.8.18.custom.css', :plugin => 'AgileDwarf', :media => 'print,screen' %>
<%= stylesheet_link_tag 'jquery.qtip.min.css', :plugin => 'AgileDwarf', :media => 'print,screen' %>

<script type="text/javascript">
    Sprints.setOptions(
    {
        /*project_id: <%=h @project_id %>,*/
        protect_against_forgery: <%= protect_against_forgery? ? "true" : "false" %>,
        request_forgery_protection_token: '<%= request_forgery_protection_token %>',
        form_authenticity_token: '<%= form_authenticity_token %>',
        project_users: <%= ActiveSupport::JSON.encode(@assignables_list).html_safe %>,
        urls:
        {
            'taskdnd': '<%= url_for(:controller => 'adtaskinl', :action => 'update') %>',
            'taskinline': '<%= url_for(:controller => 'adtaskinl', :action => 'inplace') %>',
            'tasktip': '<%= url_for(:controller => 'adtaskinl', :action => 'tooltip') %>',
            'taskspent': '<%= url_for(:controller => 'adtaskinl', :action => 'spent') %>',
            'self': '<%= url_for(:controller => 'adtasks', :action => 'list') %>'
        },
        lang:
        {
            task_subject_placeholder: '<%= l(:label_sprints_placeholder_subject) %>',
            task_estimate_placeholder: '<%= l(:label_sprints_placeholder_estimated) %>'
        }
    });
</script>

<h2><%= l(:label_menu_mytasks) %></h2>

<div id="selections">
  <fieldset id="filters" class="collapsible">
    <legend><%= l(:label_filter_plural) %></legend>
    <div id="sprints_selection" class="fl">
      <select>

      </select>
    </div>
    <div id="user_selection" class="fl">
      <select>
s
      </select>
    </div>
  </fieldset>
</div>

<div id="tasks">
  <%= render :partial => "column", :collection => @columns %>
</div>