<%= javascript_include_tag 'libs/jquery-1.7.2.min.js', :plugin => 'AgileCwDwarf' %>
<%= javascript_include_tag 'libs/jquery-ui-1.8.18.custom.min.js', :plugin => 'AgileCwDwarf' %>
<%= javascript_include_tag 'libs/jquery.jeditable.mini.js', :plugin => 'AgileCwDwarf' %>
<%= javascript_include_tag 'libs/jquery.jeditable.datepicker.js', :plugin => 'AgileCwDwarf' %>
<%= javascript_include_tag 'libs/jquery.textPlaceholder.js', :plugin => 'AgileCwDwarf' %>
<%= javascript_include_tag 'libs/jquery.jeditable.ptext.js', :plugin => 'AgileCwDwarf' %>
<%= javascript_include_tag 'libs/jquery.qtip.min.js', :plugin => 'AgileCwDwarf' %>
<%= javascript_include_tag 'common', :plugin => 'AgileCwDwarf' %>
<%= javascript_include_tag 'sprints_main', :plugin => 'AgileCwDwarf' %>
<%= stylesheet_link_tag 'sprints.css', :plugin => 'AgileCwDwarf', :media => 'print,screen' %>
<%= stylesheet_link_tag 'jquery-ui-1.8.18.custom.css', :plugin => 'AgileCwDwarf', :media => 'print,screen' %>
<%= stylesheet_link_tag 'jquery.qtip.min.css', :plugin => 'AgileCwDwarf', :media => 'print,screen' %>

<script type="text/javascript">
    Sprints.setOptions(
    {
        project_id: <%=h @project_id %>,
        protect_against_forgery: <%= protect_against_forgery? ? "true" : "false" %>,
        request_forgery_protection_token: '<%= request_forgery_protection_token %>',
        plugin_path: '<%= @plugin_path %>',
        urls:
        {
            'taskdnd': '<%= url_for(:controller => 'adtaskinl', :action => 'update') %>',
            'taskinline': '<%= url_for(:controller => 'adtaskinl', :action => 'inplace') %>',
            'tasktip': '<%= url_for(:controller => 'adtaskinl', :action => 'tooltip') %>',
            'taskcreate': '<%= url_for(:controller => 'adtaskinl', :action => 'create') %>',
            'issues': '<%= url_for(:controller => 'issues') %>',
            'sprintinline': '<%= url_for(:controller => 'adsprintinl', :action => 'inplace') %>',
            'sprintcreate': '<%= url_for(:controller => 'adsprintinl', :action => 'create') %>'
        },
        project_users: <%= ActiveSupport::JSON.encode(@assignables).html_safe %>,
        form_authenticity_token: '<%= form_authenticity_token %>',
        lang:
        {
            task_subject_placeholder: '<%= l(:label_sprints_placeholder_subject) %>',
            task_estimate_placeholder: '<%= l(:label_sprints_placeholder_estimated) %>',
            task_owner_placeholder: '<%= l(:label_sprints_placeholder_owner) %>',
            sprint_description_placeholder:  '<%= l(:label_sprints_placeholder_desc) %>'
        }
    });
</script>

<h2><%= l(:label_menu_sprints) %></h2>

<fieldset id="filters" class="collapsible">
  <legend><%= l(:label_filter_plural) %></legend>
  <div id="sprints_selection" class="fl">
      <label for="sprints_selection_el"><%= l(:label_sprints_filter) %></label>
      <select id="sprints_selection_el">
        <option value='all'><%= l(:label_sprints_select_all) %></option>
        <%- @sprints.each do |s| %>
            <option value="<%= s.id %>"><%= s.name %></option>
        <%- end %>
      </select>
  </div>

  <div id="show_closed_sprints" class="fl">
      <label for="show_closed_sprints_el"><%= l(:label_sprints_showclosed) %></label>
      <input type="checkbox" name="show_closed_sprints" id="show_closed_sprints_el"/>
  </div>
</fieldset>

<div id="tasks">
  <div class='sprints_column'>
    <div class='sprints_panel'>
      <div class="sprints_panel_header">
        <h3 class="fl"><%= l(:label_backlog) %></h3>
        <img class="fr create_sprint" src="<%= File.join(@plugin_path, 'images', 'add_sprint.png') %>" title="<%= l(:label_sprints_title_add_sprint) %>"/>
        <img class="fr add_task" src="<%= File.join(@plugin_path, 'images', 'add_task.png') %>" title="<%= l(:label_sprints_title_add_task) %>"/>
      </div>
      <div class="task_list" id="column.backlog">
        <%= render :partial => "task", :collection => @backlog %>
      </div>
      <div class="time_list fr">
      </div>
    </div>
  </div>

  <div class='sprints_column' id="sprints_sprints">
    <div></div>
    <%= render :partial => "sprint", :collection => @sprints %>
  </div>
</div>

<div id="sprint_template" class="hidden">
  <div class='sprints_panel new'>
    <div class="sprints_panel_header">
      <span class="fl sprint_start"></span>
      <span class="fl sprint_end"></span>
      <h3 class="fl sprint_name"><%= l(:label_sprints_placeholder_name) %></h3>
      <img class="fr add_task" src="<%= File.join(@plugin_path, 'images', 'add_task.png') %>" title="<%= l(:label_sprints_title_add_task) %>"/>
      <img class="fr fold_sprint" src="<%= File.join(@plugin_path, 'images', 'fold_sprint.png') %>" title="<%= l(:label_sprints_title_fold) %>"/>
      <img class="fr close_sprint" src="<%= File.join(@plugin_path, 'images', 'close_sprint.png') %>" title="<%= l(:label_sprints_title_close) %>"/>
      <span class="sprint_description"><%= l(:label_sprints_placeholder_desc) %></span>
    </div>
    <div class="task_list">
    </div>
    <div class="time_list fr">
    </div>
  </div>
</div>

<!--<div id="_task_template" class="hidden">
    <div class="sc_task new">
      <div class="task_no task_tracker">
      	<span class="task_track_num"></span>
      	<img src="<%= File.join(@plugin_path, 'images', 'task_desc.png') %>"/>
      </div>
      <div class="task_desc"></div>
      <div class="task_subject"></div>
      <hr class="horline"/>
      <a class="task_estimate fl actlink"></a>
      <a class="task_owner fr actlink"></a>
    </div>
</div>-->



<div id="task_template" class="hidden">
<div id="" class="sc_task hascontextmenu">
  <div class="task_no">
  	<span class="task_track_num task_tracker">
  		<%#= link_to [task.tracker, "#", task.id].join(" "),:controller => 'issues', :action => 'show', :id => task %> 
  		<%#= link_to image_tag(File.join(@plugin_path, 'images', 'new_window.svg'),size: "16x13"),{:controller => 'issues', :action => 'show', :id => task}, :target=>'_blank' %>
  	</span>
  	   	
  	<img src="<%= File.join(@plugin_path, 'images', 'task_desc.png') %>" class="task_desc" width="12"/>
  </div>
  <div class="task_subject"></div>

  <hr class="horline"/>
  <a class="task_estimate fl actlink"></a>&nbsp;<span class="estimate_unit">h</span>
  <a class="fr task_owner actlink"></a>
</div>
</div>











<div id="sprint_close_error" title="<%= l(:label_sprints_dialogs_closeerror_title) %>" class="hidden">
  <p>
    <%= l(:label_sprints_dialogs_closeerror_content) %>
  </p>
</div>

<div id="sprint_close_confirm" title="<%= l(:label_sprints_dialogs_closeconfirm_title) %>" class="hidden">
  <p>
    <%= l(:label_sprints_dialogs_closeconfirm_content) %>
  </p>
</div>