#tasks
{
    /*margin: 0 5% 0 5%;
    width: 90%;
    float: left;*/
    min-width:1000px;
}

.sprints_column
{
    float: left;
    margin: 0 1% 0 1%;
    width: 48%;
}

.fl
{
    float: left;
}

.fr
{
    float: right;
}

.hidden
{
    display: none;
}

.sprints_panel_header img
{
    padding: 6px 10px 6px 0;
    cursor: pointer;
}

.sprints_panel_header span
{
    margin: 10px 0 0 10px;
}

.sprints_panel
{
    float: left;
    width: 100%;
    border: 1px solid #C9C9C9;
    background: #FDFBFF;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin-bottom: 20px;
}

.task_panel
{
    float: left;
    margin: 0 2px 0 2px;
    width: 31%;
    border: 1px solid #C9C9C9;
    background: #FDFBFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    max-width: 240px;
}

.task_panel h3, .sprints_panel h3
{
    font-weight: bold;
    margin: 5px 0 7px 15px;
    padding: 0;
    border: 0;
}

.task_panel .task_status{
	border: none !important;
	padding: 0 !important 
}

.task_list .sc_task.active
{
    border-color: #1F6993;
    box-shadow: 0 0 4px #1f6993;
    -moz-box-shadow: 0 0 4px #1f6993;
    -ms-box-shadow: 0 0 4px #1f6993;
    -o-box-shadow: 0 0 4px #1f6993;
    -webkit-box-shadow: 0 0 4px #1f6993;
}

.task_list
{
    margin: 0;
    padding: 0 0 10px 0;
    float: left;
    width: 100%;
}

.task_list .sc_task
{
    cursor: pointer;
    overflow: hidden;
    height: 1%;
    background: #FFFFCC;
    padding: 7px;
    border: 1px solid #AEAEAE;
    margin: 3px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: 1px 1px 2px #d8d8d8;
}

.sc_task .task_subject
{
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.sc_task .task_owner, .sc_task .task_estimate, .sc_task .estimate_unit, .remains_time{
	font-size: 12px;
}

.actlink{
	text-decoration: none;
	border-bottom: 1px dashed #2996cc;	
}

.actlink:hover{
	text-decoration: none;
	border-bottom: 1px dashed #c61a1a;
}




.sc_task .task_estimate_sep
{
    margin: 0 5px 0 5px;
}

a.task_estimate input, .task_add_spent_value input{
    width: 15px;
    font-size: 10px;
    height: 15px;
}

#show_closed_sprints
{
    padding: 5px;
}

.sprints_panel.new, .sc_task.new
{
    background-color: #bce398;
}

.sc_task.changed
{
    background-color: #90cee3;
}


.sprint_description
{
    display: block;
    clear: both;
    width: 100%;
    padding: 5px;
}

.sprint_time
{
    margin: 0 10px 10px 0;
    width: 100%;
    font-size: 12px;
}

.task_doneratio_slide
{
    margin: 5px;
    width: 35%;
    float: left;
}

.sc_task .measure
{
    margin-left: 3px;
}

.task_doneratio_value
{
    margin-left: 5px;
    padding: 2px 0;
}

.task_row
{
    width: 100%;
    float: left;
    height:20px;
}

.task_estimate_params
{
    /*padding: 2px 0;*/
}


.task_add_spent
{

}

.task_doneratio_value, .task_add_spent, .task_estimate_params{
	    font-size: 12px;
}


.task_desc
{
    margin: 0 5px;
}

.closed_task .task_no, .closed_task .task_subject
{
    text-decoration: line-through;
}

.closed_sprint
{
    display: none;
}

.folded_sprint .task_list .sc_task
{
    display: none;
}

.time_list
{
    margin-right: 5px;
}


.task_tracker{
	display: inline-block;
	padding: 2px 5px 2px 5px;
	background-color: #515151;
	border-radius: 5px;
	text-align: center
}


.task_tracker a{
	color: white;
	text-decoration: underline;
	font-size: 12px;
}

.task_tracker a:hover{
	opacity: 0.6;
}

.task_tracker_1 {
		background-color: #911102;
}

.task_tracker_2 {
		background-color: #385692;
}

.task_tracker_3 {
		background-color: #E85000;
}



.task_status{
    font-size: 12px;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    color: #777
}

#sidebar{
	display:none;
}

#content{
	margin-right: 0 !important;
}




.sc_task.unread .task_status:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #B2CB6C;
    border-radius: 50%;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: -1px;
}

.sc_task.updated .task_status:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #5390CA;
    border-radius: 50%;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: -1px;
}

.sc_task.priority-4 .priority{
	display: none
}



.sc_task .priority{
		font-size: 12px;
		display: inline-block;
}

.sc_task.priority-5 .priority{
	border: 1px solid rgb(146, 0, 0);;
	border-radius: 3px;
	color:rgb(146, 0, 0);
	font-size: 12px;
	padding: 1px 3px 1px 3px;
}

.sc_task.priority-6 .priority{
	border: 1px solid rgb(146, 0, 0);
	border-radius: 3px;
	color:white;
	font-size: 12px;
	padding: 1px 3px 1px 3px;
	background-color: rgb(146, 0, 0);
}

.sc_task.priority-7 .priority{
	border: 1px solid rgb(146, 0, 0);
	border-radius: 3px;
	color:white;
	font-size: 12px;
	padding: 1px 3px 1px 3px;
	background-color: rgb(146, 0, 0);
	animation: blinker 3s linear infinite;
	font-weight: bold;
}
@keyframes blinker {0%{opacity:1;} 20%{opacity:0;} 23%{opacity:1;} 100%{opacity:1;}}

.sc_task .deadline{
	font-size: 12px;
	font-weight: normal;
	color:gray
}


.sc_task .deadline.dl_today{
	font-weight: bold;
	color:#c94f08
}

.sc_task .deadline.dl_tomorrow{
	color:#c94f08
}

.sc_task .deadline.dl_aftertomorrow{
	color:green
}

.sc_task .deadline.dl_overdued{
	color:red;
	font-weight: bold;
	animation: blinker 1s linear infinite;
}



